.col-list-3, .col-list-6, .col-list-12 {
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.col-list-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.img_list {
    border-radius: 7px;
    max-width:100%;
    max-height:100px;
    height:auto;
}

/* Small */
@media (min-width: 380px) {
    
}

/* Middle */
@media (min-width: 576px) {
    .col-list-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
    }
}